<h1>Quote Monster</h1>

<div *ngIf="quote" class="quote" (click)="refreshQuote()">
	<h3>{{quote.text}}</h3>
	<p>{{quote.author}}</p>
</div>

<hr/>
<p>Built with:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular 2</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
	<li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
	<li><a href='https://auth0.com/'>Auth0</a> for authentication</li>
    <li><a href='https://azure.microsoft.com/'>Azure</a> + <a href='https://www.microsoft.com/en-gb/sql-server/sql-server-2016/'>SqlServer</a> for hosting and data</li>
	<li><a href='https://github.com/aspnet/EntityFramework/'>Entity Framework</a> for cross-platform data access</li>	
</ul>
