<div class="edit-quote container" *ngIf="quote">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="edit glyphicon glyphicon-pencil"> Edit</span>
		</div>
		<div class="panel-body">
			<textarea [(ngModel)]="quote.text"></textarea>
			<input no-match-found-text="Create new" auto-complete [(ngModel)]="quote.author" [source]="authors" />
		</div>
		<div class="panel-footer">
			<button type="button" class="btn" (click)="goBack()">Back</button>
			<button type="button" class="btn btn-primary" (click)="save()">Save</button>
		</div>
	</div>
</div>
