<div class="container search">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-2">
			Text
		</div>
		<div class="col-md-8">
			<input [(ngModel)]="text" />
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-2">
				Author
			</div>
			<div class="col-md-8">
				<input no-match-found-text="Unknown" auto-complete [(ngModel)]="author" [source]="authors" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-8"></div>
			<div class="col-md-2">
				<button [disabled]="busy" type="button" class="btn btn-primary" (click)="search()">Search</button>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>

<p *ngIf="!data"><em>Loading...</em></p>

<div *ngIf="data" class="results container">
	<div class="result row" *ngFor="let quote of data">
		<div class="col-md-11">
			<h4>{{quote.text}}</h4>
			<em> - {{quote.author}}</em>
		</div>
		<div class="col-md-1">
			<span class="edit glyphicon glyphicon-pencil" [routerLink]="['/edit', quote.id]" *ngIf="quote.canEdit"></span>
			<span class="edit glyphicon glyphicon-trash" (click)="deleteQuote(quote.id)" *ngIf="quote.canEdit"></span>
			<!--<span class="edit glyphicon glyphicon-trash" (click)="confirm.show()" *ngIf="quote.canEdit"></span>-->
			
		</div>
	</div>
</div>

<div class="centre">
	<button [disabled]="busy" type="button" class="btn" (click)="previousPage()"><span class="edit glyphicon glyphicon-chevron-left"></span></button>
	<button [disabled]="busy" type="button" class="btn" (click)="nextPage()"><span class="edit glyphicon glyphicon-chevron-right"></span></button>
</div>

<!--<app-modal #confirm>
	<div class="app-modal-header">
		header
	</div>
	<div class="app-modal-body">
		Really delete?
	</div>
	<div class="app-modal-footer">
		<button type="button" class="btn btn-default" (click)="confirm.hide()">Close</button>
		<button type="button" class="btn btn-primary" (click)="confirm.hide(); deleteQuote(1234)">Save changes</button>
	</div>
</app-modal>-->
<div>page: {{page}} busy: {{busy}}</div>
