<h1>Search</h1>

<p *ngIf="!data"><em>Loading...</em></p>

Text <input [(ngModel)]="text"/>
Author <input [(ngModel)]="author" />

<button (click)="search()">Search</button>

<table class='table' *ngIf="data">
	<thead>
		<tr>
			<th>Text</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let quote of data">
			<td>{{ quote.text }}</td>
			<td class="edit" [routerLink]="['/edit', quote.id]" *ngIf="quote.canEdit">Edit</td>
			<td *ngIf="!quote.isOneOfUsers"></td>
		</tr>
	</tbody>
</table>
<button (click)="newQuote()">New</button>
