<div class="container search">
	<div class="row">
		<div class="col-md-2">
			Text
		</div>
		<div class="col-md-10">
			<input [(ngModel)]="text" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			Author
		</div>
		<div class="col-md-10">
			<input no-match-found-text="Unknown" auto-complete [(ngModel)]="author" [source]="authors" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-10"></div>
		<div class="col-md-2">
			<button [disabled]="busy" type="button" class="btn btn-primary" (click)="search()">Search</button>
		</div>
	</div>
</div>

<p *ngIf="!data"><em>Loading...</em></p>

<div *ngIf="data" class="results container panel-group">
	<div class="panel panel-default" *ngFor="let quote of data">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-9">
				<p>{{quote.text}}</p>
				<em> - {{quote.author}}</em>
			</div>
			<div class="col-md-1">
				<span class="edit glyphicon glyphicon-pencil" [routerLink]="['/edit', quote.id]" *ngIf="quote.canEdit"></span>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

<span>
	<button [disabled]="busy" type="button" class="btn" (click)="previousPage()">Prev</button>
	<button [disabled]="busy" type="button" class="btn" (click)="nextPage()">Next</button>
</span>

<div>
	<button [disabled]="busy" type="button" class="btn btn-primary" (click)="newQuote()" *ngIf="auth.authenticated()">New</button>
</div>

<div>page: {{page}} busy: {{busy}}</div>
